.form {
    margin: 20px; 
    display: flex;
}

.form input, button {
    height: 40px;
    border: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    color: #fff;
}


.form input {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;
    outline: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    background: rgb(110, 159, 206);
    border-right: 1px solid #fff    ;
}

.form button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    background: rgb(65, 135, 201);
}

.form input::placeholder {
    color: #ffffffc9;
}
